{% extends "administration/base.html" %} {% block title%} Student Dashboard
{%endblock%} {%block body%}

<div class="container">
  <div class="top_nav">Top</div>
  <div class="Main_nav">Main</div>
  <div class="page_name">Page</div>
  <div class="Profile-stats">Profile</div>
  <div class="Links">links</div>
  <div class="feature_1">feature1</div>
  <div class="feature_2">feature2</div>
</div>

Role = {{user.role}} Name = {{user.firstname}}{{user.lastname}} Id
={{user.school_unique_id}}

<a href="{% url 'administration:admin_dashboard' %}">Admin</a>
{%endblock%}
