{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'accounts/register.css' %}" />
		<link rel="stylesheet" href="{% static 'accounts/base.css' %}" />
		<link rel="stylesheet" href="{% static 'accounts/administration.css' %}" />
		<title>{%block title%}Base Layout{%endblock%}</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar">
				<div class="logo">
					<img src="{% static 'accounts/images/school_logo.png' %}" alt="Logo" />
					<h1>Dilliraj Secondary School</h1>
				</div>
				{% if user.is_authenticated %}
				<ul class="nav-links">
					<li><a href="{% url 'homepage' %}">Home</a></li>
					<li><a href="{% url 'administration:announcement' %}">Announcement</a></li>
					<li><a href="{% url 'students:student_create' %}">Students_create</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Support</a></li>
				</ul>

				{% else %} <br /><br /><br />Do you have a question? {% endif %}

				<div class="additional-features">
					{% if user.is_authenticated %}
					<a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
					<a class="nav-item nav-link" href="#">Profile</a>

					{% else %}
					<a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
					<a class="nav-item nav-link" href="{% url 'register_user'%}">Register</a>
					{% endif %}
				</div>
			</nav>
			<div class="content">
				<!-- Your page content goes here -->
				<!-- The if statement for messages is responsible for loading 
        various alert messages in homepage -->
				{% if messages %} {%for message in messages%}
				<div class="alert alert-{{message.tags}}">{{message}}</div>
				{%endfor %} {% endif %}
				<!--  -->
				<h2>Welcome to Dilliraj Secondary App</h2>
				<p>This is the content area where your page content will be shown.</p>
							{%block body %} {%endblock%}
			</div>
		</div>
	</body>
</html>
